<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <%- include('../partials/menu.ejs', {sitename: 'DevIT'}) %>

    <% include ../partials/footer.ejs %>
</body>
</html>
