<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs', {
            meta: meta
        })
    %>
</head>
<body>
    <%- include('../partials/menu.ejs', {
            localization: localization.menu
        })
    %>

    <main style="position: relative; top: 100px; z-index: -1;">
        <ul>
            <li>modify lang button on menu</li>
            <li>add shadows on current hover active lang</li>
            <li>add localization mechanism (/ru, /ua)</li>
            <hr>
            <li>add changecolor effect to menu onscroll</li>
            <li>add slider on top of main</li>
            <li>add filter/blur effect on progress</li>
            <li>create material design footer</li>


            <% for (let i = 0; i < 30; i++) { %>
                <br>
            <% } %>
        </ul>
    </main>

    <%- include('../partials/footer.ejs', {
            localization: localization.footer
        })
     %>
</body>
</html>
