<% layout('../layout') %>


<main>
    <ul>
        <li>change icon / create shortcut</li>
        <li>change lang mechanism </li>
        <hr>
        <li>create proloader for search page ? (ajax data grabbing)</li>
        <hr>
        <li>write companyDataStandard.json</li>
        <li>create partnerPage with forms and pay button</li>
        <hr>
        <li>add filter/blur effect on progress</li>
        <li>create material design footer</li>
        <hr>
        <li>set css preprocessor</li>
        <li>set gulp</li>
        <li>use parallax effect on BIG images</li>
        <li>think about bootstrap</li>
        <li>split styles to different .preload files</li>
        <hr>
        <li>phone form like on ITEA</li>


        <% for (let i = 0; i < 50; i++) { %>
            <br>
        <% } %>
    </ul>
</main>
