<% layout('../layout') %>


<main style="position: relative; top: 100px; z-index: -1;">
    <ul>
        <li>change icon / create shortcut</li>
        <li>change lang mechanism </li>
        <hr>
        <li>add filter/blur effect on progress</li>
        <li>create material design footer</li>


        <% for (let i = 0; i < 100; i++) { %>
            <br>
        <% } %>
    </ul>
</main>
