<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <%- include('../partials/menu.ejs', {
            localization: localization.menu
        })
    %>

    <% include ../partials/footer.ejs %>
</body>
</html>
