<title>DevIt</title>
<meta charset="UTF-8">
<link rel="shortcut icon" href="../img/favicon.png">


<!-- LIBS -->
<link rel="stylesheet" href="../css/libs/bootstrap.min.css">
<link rel="stylesheet" href="../css/libs/jquery.mCustomScrollbar.min.css">
<!-- LIBS END -->

<link rel="stylesheet" href="../css/main.css">


<!-- LIBS -->
<script src="../js/libs/jquery-3.1.1.min.js"></script>
<script src="../js/libs/jquery.scrollTo.min.js"></script>
<script src="../js/libs/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="../js/libs/bootstrap.min.js"></script>
<!-- LIBS END -->

<script src="../js/main.js"></script>
