<script src="../js/models/menu.js"></script>

<nav>
    <a class="logo" href="#">
        <img src="../img/favicon.png" alt="DevIt">
        <span><%= localization.sitename %></span>
    </a>
    <ul class="menu">
        <% for (let i in localization.paragraphs) { %>
            <% if (localization.paragraphs[i].hasOwnProperty('items')) { %>
                <li class="dropdown">
                    <a href="#"><%= localization.paragraphs[i].title %></a>
                    <ul>
                        <% localization.paragraphs[i].items.forEach((item) => { %>
                            <li class="dropdown-2">
                                <a href="#"><%= item.title %></a>
                                <% if (item.hasOwnProperty('items')) { %>
                                    <ul>
                                        <% item.items.forEach((subItem) => { %>
                                            <li><a href=""><%= subItem.title %></a></li>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% } else { %>
                    <li><a href="#"> localization.paragraphs[i].title </a></li>
            <% } %>
        <% } %>


        <li class="dropdown">
            <a href="#">КУРСЫ</a>
            <ul>
                <li class="dropdown-2">
                    <a href="#">Programming</a>
                    <ul>
                        <li>
                            <a href="#">Java</a>
                        </li>
                        <li>
                            <a href="#">C#</a>
                        </li>
                        <li>
                            <a href="#">C++</a>
                        </li>
                        <li>
                            <a href="#">HTML/CSS/JS</a>
                        </li>
                        <li>
                            <a href="#">PHP</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">QA and Testing</a></li>
                <li class="dropdown-2">
                    <a href="#">Data Science</a>
                    <ul>
                        <li>
                            <a href="#">Statistics</a>
                        </li>
                        <li>
                            <a href="#">Machine Learning</a>
                        </li>
                        <li>
                            <a href="#">Deep Mining</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">НОВОСТИ</a></li>
        <li class="dropdown">
            <a href="#">О НАС</a>
            <ul>
                <li><a href="#">СОТРУДНИЧЕСТВО</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </li>
    </ul>
</nav>
