<nav>
    <a class="logo" href="#">
        <img src="../img/favicon.png" alt="DevIt">
        <span>DevIt</span>
    </a>
    <ul class="menu row">
        <li><a>НОВОСТИ</a></li>
        <li><a>О НАС</a></li>
        <li><a>КОНТАКТЫ</a></li>

    </ul>
</nav>
