<nav class="row">
    <a class="logo" href="#">
        <img src="../img/favicon.png" alt="DevIt">
        <span>DevIt</span>
    </a>
    <ul class="menu">
        <li class="dropdown">
            <a href="#">КУРСЫ</a>
            <ul>
                <li><a href="#">Programming</a></li>
                <li><a href="#">QA and Testing</a></li>
                <li><a href="#">Data Science</a></li>
            </ul>
        </li>
        <li ><a href="#">НОВОСТИ</a></li>
        <li ><a href="#">О НАС</a></li>
        <li ><a href="#">КОНТАКТЫ</a></li>
    </ul>
</nav>
