<nav class="row">
    <a class="logo" href="#">
        <img src="../img/favicon.png" alt="DevIt">
        <span>DevIt</span>
    </a>
    <ul class="menu">
        <li class="dropdown">
            <a href="#">КУРСЫ</a>
            <ul>
                <li class="dropdown-2">
                    <a href="#">Programming</a>
                    <ul>
                        <li>
                            <a href="#">Java</a>
                        </li>
                        <li>
                            <a href="#">C#</a>
                        </li>
                        <li>
                            <a href="#">C++</a>
                        </li>
                        <li>
                            <a href="#">HTML/CSS/JS</a>
                        </li>
                        <li>
                            <a href="#">PHP</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">QA and Testing</a></li>
                <li class="dropdown-2">
                    <a href="#">Data Science</a>
                    <ul>
                        <li>
                            <a href="#">Statistics</a>
                        </li>
                        <li>
                            <a href="#">Machine Learning</a>
                        </li>
                        <li>
                            <a href="#">Deep Mining</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">НОВОСТИ</a></li>
        <li class="dropdown">
            <a href="#">О НАС</a>
            <ul>
                <li><a href="#">СОТРУДНИЧЕСТВО</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </li>
    </ul>
</nav>
